<% if @product.sell_mode == nil %>
  Mode de vente non défini !
<% else %>
  <div class="sell_mode">
    <%= {'M' => "/ #{t(:sell_mode_square)}", 'U' => "/ #{t(:sell_mode_unit)}" }[@product.sell_mode] %>
  </div>
<% end %>

